.sidebar {
  border: 1px solid #EAEAEA;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 5px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  text-align: left;
  min-width: 200px;
  color: black;
  position: sticky;
  top: 100px;
  left: 0;

  &__title {
    padding: 0 30px;
  }

  &__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    position: relative;
    color: black;
    height: 34px;
    width: 100%;
    padding: 5px 30px;
    transition: .3s linear;
    cursor: pointer;

    &::after {
      content: "";
      width: 0;
      height: 0;
      display: flex;
      border-style: solid;
      border-width: 17px 0 17px 34px;
      border-color: transparent transparent transparent darkgray;
      position: relative;
      left: 64px;
      top: 0;
      transition: .3s linear;
      opacity: 0;
    }

    &:hover {
      background-color: darkgray;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

      .sidebar__edit {
        display: block;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &__category.active {
    background-color: darkgray;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

    .sidebar__edit {
      display: block;
    }

    &::after {
      opacity: 1;
    }
  }

  &__edit {
    display: none;
    position: absolute;
    z-index: 20;
    cursor: pointer;
    right: 16px;
    top: 8px;
  }

  &__edit svg {
    width: 15px;
    height: 15px;

    & path {
      fill: white;
    }
  }


}